extends base

block content
	.wrapper
		header !{headerRender}
		main
			include components/gallery
			section(class="estates-about")
				.estates-about__header
					.row
						.header__about
							h2 #{estate.keyDetails.buildingType } em #{estate.keyDetails.neighborhood } #{estate.keyDetails.city } ,MG
							h1= estate.address
							.header__about__info
								ul
									li
										span R$ 521.200.00
									li(class "icon icon-area")
										span= estate.keyDetails.area
									li(class="icon icon-park")
										span= estate.garages
									li(class="icon icon-bath")
										span= estate.bathrooms
									li(class="icon icon-beds") 
										span= estate.bedrooms
						.header__actions
							a(href="#" class="btn-green") Agendar Visita
							a(href="#") ou 
								span Falar com um Corretor
				.estates-about__content
					.row
						.content
							h3(class='title')
								| Detalhes
								span (20)
							.content__area
								ul
									li
										span Condomínio:
										span R$ 800,00
									li
										span Taxas:
										span R$ 100,00
									li
										span Metros 2:
										span 1200
									li
										span Cidade:
										span Nova Lima
									li
										span Animais:
										span Cåes e Gatos
									li
										span Vizinhos:
										span 5
									li
										span Vagas:
										span 2
									li
										span Vista:
										span Montanhas
									li
										span Impostos:
										span +- R$ 1000,00
									li
										span Edificios:
										span 4
						.content
							h3(class='title')
								| Características
								span (20)
							.content__area
								ul(class="styled")
									li Piscina
									li Churrasqueira
									li Campo de Golf
									li Closets
									li Cåes e Gatos
									li Sauna
									li Academia
									li Montanhas
									li +- R$ 1000,00
									li Quadra de Tênis
									li Quadra de Futebol
									li Quadra de Salão
									li Montanhas
									li Impostos:
									li Edificios:

						.content
							h3(class='title') Descrição
							.content__area
								p ONE-OF-A-KIND celebrity loft in the heart of NoLita, recently featured on the COVER of the February 2015 issue of ARCHITECTURAL DIGEST. This premier residence was thoughtfully updated to keep elements of the historic 19th century building, while incorporating the utmost in modern luxury, lifestyle and design.
								p At approximately 2,000 square feet, the open and spacious plan allows for effortless entertaining or enjoying one’s privacy. Warm metallic finishes, reclaimed woods, cast iron columns and exposed brick, set the tone throughout the magnificent space.
								p The main living area is surrounded by oversize windows, and features a gas fireplace and a large alcove that can be used as a library/office or convertible guest room.
								p An adjacent chef’s kitchen has a large custom-built island, hand-laid mosaic tile back-splash, and top of the line appliances. A massive walk-in closet/pantry provides endless storage and doubles as a laundry room, with a full size washer/dryer.
			include components/agents-estate
			include components/neighborhood-estate
			
		include components/footer
