extends base

block content
	header
		include includes/header
	main
		section.estate-details__bx(data-module='estates')
			.estate-details__bx__gallery
				.gallery__presentation
					img(src='https://d2787ndpv5cwhz.cloudfront.net/690665e9d6faa83679d00ecd52aeb46a4f0c68a5/640x480.jpg', alt="" style='height: 450px;')
					img(src='https://d2787ndpv5cwhz.cloudfront.net/328437446971ede38246b83efef9b6d8025442dd/640x480.jpg', alt="" style='height: 450px;')
					img(src='https://urbancompass-image-index.s3.amazonaws.com/0d2ee1b2af2f9df581aeb4ebefb4f0fda4f2283a.jpg', alt="" style='height: 450px;')
				.pswp(clas='pswp--svg' tabindex='-1', role='dialog', aria-hidden='true')
					.pswp__bg
					.pswp__scroll-wrap
						.pswp__container
							.pswp__item
							.pswp__item
							.pswp__item
						.pswp__ui(class='pswp__ui--hidden')
							.pswp__top-bar
								.pswp__counter
								button.pswp__button.pswp__button--close(title='Close (Esc)')
								button.pswp__button.pswp__button--share(title='Share')
								button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
								button.pswp__button.pswp__button--zoom(title='Zoom in/out')

								.pswp__preloader
									.pswp__preloader__icn
										.pswp__preloader__cut
											.pswp__preloader__donut
							.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
							.pswp__share-tooltip
							button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
							button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
							.pswp__caption
								.pswp__caption__center
			.estate-details__bx__header
				.header__details
					.header__about
						h2 #{keyDetails.buildingType } em #{keyDetails.neighborhood } #{keyDetails.city } ,MG
						h1= address
						.header__about__info
							ul
								li
									span R$ 521.200.00
								li(class="icon icon-area")
									span= keyDetails.area
								li(class="icon icon-park")
									span= garages
								li(class="icon icon-bath")
									span= bathrooms
								li(class="icon icon-beds") 
									span= bedrooms
					.header__actions
						a(href="#" class="btn-green") Agendar Visita
						a(href="#") ou 
							span Falar com um Corretor
			.estate-details__bx__content
				.details__bx
					h3(class='title')
						| Detalhes
						span (20)
					.content
						ul
							li
								span Condomínio:
								span R$ 800,00
							li
								span Taxas:
								span R$ 100,00
							li
								span Metros 2:
								span 1200
							li
								span Cidade:
								span Nova Lima
							li
								span Animais:
								span Cåes e Gatos
							li
								span Vizinhos:
								span 5
							li
								span Vagas:
								span 2
							li
								span Vista:
								span Montanhas
							li
								span Impostos:
								span +- R$ 1000,00
							li
								span Edificios:
								span 4
				.details__bx
					h3(class='title')
						| Características
						span (20)
					.content
						ul(class="styled")
							li Piscina
							li Churrasqueira
							li Campo de Golf
							li Closets
							li Cåes e Gatos
							li Sauna
							li Academia
							li Montanhas
							li +- R$ 1000,00
							li Quadra de Tênis
							li Quadra de Futebol
							li Quadra de Salão
							li Montanhas
							li Impostos:
							li Edificios:

				.details__bx
					h3(class='title') Descrição
					.content
						p ONE-OF-A-KIND celebrity loft in the heart of NoLita, recently featured on the COVER of the February 2015 issue of ARCHITECTURAL DIGEST. This premier residence was thoughtfully updated to keep elements of the historic 19th century building, while incorporating the utmost in modern luxury, lifestyle and design.
						p At approximately 2,000 square feet, the open and spacious plan allows for effortless entertaining or enjoying one’s privacy. Warm metallic finishes, reclaimed woods, cast iron columns and exposed brick, set the tone throughout the magnificent space.
						p The main living area is surrounded by oversize windows, and features a gas fireplace and a large alcove that can be used as a library/office or convertible guest room.
						p An adjacent chef’s kitchen has a large custom-built island, hand-laid mosaic tile back-splash, and top of the line appliances. A massive walk-in closet/pantry provides endless storage and doubles as a laundry room, with a full size washer/dryer.
		section(class="agents__bx")
			.row
				.agents__bx__header
					h1(class="title") Corretores representando esse imóvel
					h2(class="subtitle") Os nossos corretores estarão com você durante a sua pesquisa em casa, oferecendo sua experiência e profundo conhecimento do mercado imobiliário de #{keyDetails.city} para ajudá-lo a encontrar a casa que você ame.
	include includes/footer
